body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
     background-color: linen;
}
.operator{
    background-color: lightcoral;
}

#calcContainer{
    display: flex;
    flex-direction: column;
    width: 80vw;


    
}
.calculator-screen{
    background-color: linen;
    font-family:'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 6vw;
    text-align: right;
    
    border: none;
    
}
.keys{
   
    display: grid;
     grid-template:
     'AC mult exp fact '
    'AC subt add  divide'
    'nine eight seven equals'
    'six five four equals '
    'three two one equals '
    'posNeg zero decimal equals';
    grid-gap: 8px 8px;
   
}
button {
   
    display: inline-block;
    padding: 15px 25px;
    font-size: 3vw;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: lightskyblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  button:hover {background-color: #3e8e41}
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

button:hover {background-color: gray}

