@import url('https://fonts.googleapis.com/css?family=Abril+Fatface:900|Work+Sans:300&display=swap');
body{
    display:flex;
    flex-direction:column ;
    background-color: #fffaf0;
    font-family:'Courier New', Courier, monospace;
    font-weight: 200;
}
h1{
    text-align: center;
    
}
#main{
    height:40vw;
    width:40vw;
    border: gray 1px solid;
    align-self: center;
    display: grid;
   
    flex-wrap: wrap;
}
.box{
    border: gray 1px solid;
    
}
#main.shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
  }


.btnContainer{
    margin-top: 2%;
    align-self: center;
    
}
button{
    outline:0;
    opacity: .2;
    font-family: 'Courier New', Courier, monospace;
    align-self: center; 
    font-size:.8em;
    font-weight:600;
    background:Black;
    color:white;
    border:none;
    padding:1.5em 3em;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 gray,
      2px 2px 0 0 gray,
      3px 3px 0 0 gray,
      4px 4px 0 0 gray,
      5px 5px 0 0 gray,
      6px 6px 0 0 gray;
      
}

button:hover{
   
    opacity: .5;
    color: black;
    background-color: #A9C9FF;

}
button:active{
    color:#222;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 #d98e20;  
}

